{% extends 'empleos/base.html' %}

{% block title %}Detalle del Empleo - Bolsa de Trabajo{% endblock %}

{% block content %}
<div class="max-w-4xl mx-auto py-12 px-4">

    <div class="bg-white shadow rounded-xl p-8">

        <h1 class="text-4xl font-bold text-blue-700">
            Desarrollador Frontend
        </h1>

        <p class="text-gray-500 mt-2">
            Tech Solutions • Remoto
        </p>

        <div class="mt-8">
            <h2 class="text-2xl font-bold mb-3">
                Descripción
            </h2>

            <p class="text-gray-600">
                Buscamos un desarrollador frontend con experiencia
                en HTML, CSS, JavaScript y Tailwind CSS.
            </p>
        </div>

        <div class="mt-8">
            <h2 class="text-2xl font-bold mb-3">
                Requisitos
            </h2>

            <ul class="list-disc ml-6 text-gray-600 space-y-2">
                <li>2 años de experiencia</li>
                <li>Manejo de React</li>
                <li>Trabajo en equipo</li>
            </ul>
        </div>

        <button class="mt-8 bg-green-600 text-white px-6 py-3 rounded-lg">
            Aplicar Ahora
        </button>

    </div>

</div>
{% endblock %}